<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAYOUT</title>
</head>
<body>
<p>
</p>
<table border="0" width="100%">
    <tr>
        <td>
            <a href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="30">
                <title>message-video</title>
                <path
                    d="M18,14L14,10.8V14H6V6H14V9.2L18,6M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z" />
            </svg></a>
        </td>
        <td align="center">
            <input type="text">
        </td> 
        <td align="right">
            <a href="/signin"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="30">
                <title>account-check</title>
                <path
                    d="M21.1,12.5L22.5,13.91L15.97,20.5L12.5,17L13.9,15.59L15.97,17.67L21.1,12.5M10,17L13,20H3V18C3,15.79 6.58,14 11,14L12.89,14.11L10,17M11,4A4,4 0 0,1 15,8A4,4 0 0,1 11,12A4,4 0 0,1 7,8A4,4 0 0,1 11,4Z" />
            </svg></a>
        </td> 
    </tr>
</table>
</body>
</html> 
