body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.options {
    list-style: none;
}
.col{
  /*  border: 1px solid black;*/
    display: inline-block;
    width: 49%;
    text-decoration: brown;
}
.plans{
    display: none;
}
.plans:target {
    display: inline-block;
}
h2 {
    color:rgb(17, 105, 40)
}