body {
    background-color: #333;
    margin: 0;
    color: white;
}
.cont {
   border: 3px solid black;
   display: inline-block;
   padding: 5px;
   margin: 20px;
}
.cont div {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    
}
.cont .d-1 {
    background-color: blueviolet;
}
.cont .d-2 {
    background-color: rgb(132, 131, 132);
    position: relative; 
    bottom: 20px;
    right: 10px;
    z-index: -1;
}
.cont .d-3 {
    background-color: rgb(226, 43, 43);
}